.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  transform-origin: top center;
}

.App-link {
  color: #61dafb;
 
}

/*  Main CSS */
h1,h5{
  margin: 2px;
  text-align: center;
}
#inputDiv, #resultsDiv{
  
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  width: 30vw;
  min-width: 220px;
  text-align: justify;
}
#resultsDiv{
  text-align: center;
}

.inputContainer{
   border: 2px solid black; 
   border-radius: 10px;
   margin: 5px 0px;
   padding: 3px;
   text-align: center;
}
.inputLabel{
  background-color: white;
  font-weight: bold;
  position: relative;
  font-size:10px;
  top: -16px;
  left: -20px;
}

input{
 border: none;
 margin: 3px 0px;
}
input:focus{
 outline: none;

}
span{
  position: relative;
  top: -10px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0px 4px 4px 5px;
}

#resultsDisplayDiv{
  white-space: pre-line;
  text-align: justify;
  margin-top: 5px;
  border-top: 2px dotted grey;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
